body {
    background-color: #ffffe6;
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

body ul {
    padding: 0;
    list-style-type: none;
}

body ul li {
    padding-top: 10pt;
}

footer {
    max-width: 80%;
    margin: auto;
    font-size: xx-small;
    color: #cccccc;
}

footer a {
    color: #cccccc;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}